* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    background-color: black;
    display: block;
}

img {
    display: block;
    height: 50px;
}

.pos_rel {
    position: relative;
}

.pos_ab {
    position: absolute;
}

.text {
    color: #ffff;
    text-align: center;
    padding: 90px 0;
}

.text h3 {
    font-size: 40px;
}

.text h5 {
    font-size: 25px;
    padding: 30px 0;
}

.text span {
    content: "";
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: red;
    position: relative;
}

.text span:after {
    position: absolute;
    content: "";
    height: 5px;
    width: 100px;
    background-color: rgb(237, 228, 228);
    top: 3px;
    left: 20px;
}

.text span:before {
    position: absolute;
    content: "";
    height: 5px;
    width: 100px;
    background-color: white;
    top: 3px;
    right: 20px;
}

.imges img {
    padding: 5px 5px;
    border: red 3px solid;
    background-color: #e788d1;
    border-radius: 25px;
}

.imges>*:hover {
    color: rgba(255, 0, 0, 0.259);
    scale: 1.5;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.imges>*:hover::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: 50%;
    inset: 1px 1px;
    background-color: rgba(255, 17, 0, 0.309);
}

.image-container {
    bottom: -15em;
    left: 10em;
}

.image-container2 {
    left: 29%;
    bottom: -100px;
}

.image-container3 {
    bottom: -4em;
    left: 37em;
}

.image-container4 {
    bottom: -6em;
    left: 51em;
}

.image-container5 {
    bottom: -12em;
    right: 10em;
}

.hover-text {
    position: absolute;
    top: 100%;
    /* Position below the image */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.imges>*:hover .hover-text {
    opacity: 1;
    /* Display the text on hover */
}