body{
    background: url(water.jpg);
    background-size: cover;
}
.form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: -50px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.form h1{
    color: white;
    font-size: 2rem;
    border-bottom: 4px solid rgba(250,250,250,0.5);
    margin: 50px;
}
.box{
    padding: 12px;
    margin: 10px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset -3px -3px rgba(0,0,0,0.5) ;
    color: black;
    font-size: 1rem;
}
#submit{
    padding: 10px 20px;
    margin-top: 30px;
    width: 50%;
    background-color: white;
    
      
}
#submit:hover{
    cursor: pointer;
    background-color: rgba(241, 231, 231, 0.5);
}
p{
    color: blue;
}
.social img{
    width: 40px;
    margin: 0 6px;
    cursor: pointer;
}
